<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Patient interface</title>
    </head>
    <body>
        <h1>Patients</h1>
        <p>Please take a number</p>
        <p id="currentNumber"></p>
        <button onclick="takeNumber()">Take this number</button>
        <p id="userNumber" style="display: none;">Your number: <span id="takenNumber"></span></p>
        <script src="/javascript/takeNumber.js"></script>
    </body>
</html>